body {
    background-color: rgb(42, 65, 83);
  }
  
  header {
    color: rgb(255, 252, 252);
    font-family: "Jim Nightshade", cursive;
    text-align: center;
  }
  
  header h4 {
    background-color: rgb(87, 95, 121);
    display: inline;
    color: white;
    font-family: "Jim Nightshade", cursive;
  }
  
  header h2 {
    background-color: rgb(187, 184, 184);
    font-family: "Libre Caslon Display", serif;
    color: black;
  }
  
  nav {
    background-color: rgb(212, 209, 209);
    text-align: center;
    margin-top: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  nav a img {
    width: 115px;
  
    margin-left: 300px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    width: 80%;
  }
  
  .image-section {
    display: flex;
    flex-direction: row;
    width: 100px;
    height:100px;

  }
  
  .image-section img {
    border-radius: 5px;
    max-width: 1000px;
    margin-top:-60px;
    width: 350px;
    height:350px;
    margin:10px;
    
  }
  
  .main-section {
    background-color: #5b6a88;
    padding: 30px;
    width:500px ;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-align: center;  
    margin-left: 300px;
    top:50px;
    left:50px;
    transform: translate(50%, 50%);
  }
  
  .content {
    max-width: 400px;
    text-align: justify;
  }
  footer{ 
    text-align: center;
    position: absolute;
  bottom: 0;
  width: 99.6%;
  height: 2.5rem;
    background-color: lightgray;

  }
  .viaje {
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-family: "Libre Caslon Display", serif ;
}
.phone{
    flex-wrap: wrap;
    
}

.Contacto{
    text-align: center;
    color: white;
}

.info h4{
    color: white;
    text-align: center;
    border: 0px 100px;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
   
}

.info p{
    text-align:left;
    color: white;
}